<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="author" content="GrayGrids Team">
  <title>ClassiX - Bootstrap HTML5 Classified Template</title>

  <link rel="shortcut icon" href="assets/img/favicon.png">
  <%= stylesheet_link_tag "frontend", media: "all", 'data-turbolinks-track': 'reload'%>
</head>
<body>

<div class="header">
  <nav class="navbar navbar-default main-navigation" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand logo" href="index-2.html"><img src="assets/img/logo.png" alt=""></a>
      </div>


      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <%	 if user_signed_in? %>
            <li><a href="#">Welcome <%= current_user.first_name %> <%= current_user.last_name %></a></li>
             <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            <li class="postadd">
              <a class="btn btn-danger btn-post" href="post-ads.html"><span class="fa fa-plus-circle"></span> Post an Ad</a>
            </li>
          <% else %>
            <li><%= link_to '<i class="lnr lnr-enter"></i> Login'.html_safe, new_session_path(:user) %><br /></li>
            <li><a href="signup.html"><i class="lnr lnr-user"></i> Signup</a></li>
          <% end %>
        </ul>
      </div>

    </div>
  </nav>

</div>

<%= yield %>

<footer>

  <section class="footer-Content">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="0">
          <div class="widget">
            <h3 class="block-title">About us</h3>
            <div class="textwidget">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lobortis tincidunt est, et euismod purus suscipit quis. Etiam euismod ornare elementum. Sed ex est, consectetur eget facilisis sed, auctor ut purus.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="0.5">
          <div class="widget">
            <h3 class="block-title">Useful Links</h3>
            <ul class="menu">
              <li><a href="#">Home</a></li>
              <li><a href="#">Categories</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Left Sidebar</a></li>
              <li><a href="#">Pricing Plans</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Full Width Page</a></li>
              <li><a href="#">Terms of Use</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="1s">
          <div class="widget">
            <h3 class="block-title">Latest Tweets</h3>
            <div class="twitter-content clearfix">
              <ul class="twitter-list">
                <li class="clearfix">
<span>
Platform to Download and Submit #Bootstrap Templates via @ProductHunt @GrayGrids
<a href="#">http://t.co/cLo2w7rWOx</a>
</span>
                </li>
                <li class="clearfix">
<span>
Introducing Bootstrap 4 Features: What’s new, What’s gone!
<a href="#">http://t.co/cLo2w7rWOx</a>
</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="1.5s">
          <div class="widget">
            <h3 class="block-title">Random Ads</h3>
            <ul class="featured-list">
              <li>
                <img alt="" src="assets/img/featured/img1.jpg">
                <div class="hover">
                  <a href="#"><span>$49</span></a>
                </div>
              </li>
              <li>
                <img alt="" src="assets/img/featured/img2.jpg">
                <div class="hover">
                  <a href="#"><span>$49</span></a>
                </div>
              </li>
              <li>
                <img alt="" src="assets/img/featured/img3.jpg">
                <div class="hover">
                  <a href="#"><span>$49</span></a>
                </div>
              </li>
              <li>
                <img alt="" src="assets/img/featured/img4.jpg">
                <div class="hover">
                  <a href="#"><span>$49</span></a>
                </div>
              </li>
              <li>
                <img alt="" src="assets/img/featured/img5.jpg">
                <div class="hover">
                  <a href="#"><span>$49</span></a>
                </div>
              </li>
              <li>
                <img alt="" src="assets/img/featured/img6.jpg">
                <div class="hover">
                  <a href="#"><span>$49</span></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>


  <div id="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="site-info pull-left">
            <p>All copyrights reserved &copy; 2017 - Designed by <a href="http://graygrids.com/" rel="nofollow">GrayGrids</a></p>
          </div>
          <div class="bottom-social-icons social-icon pull-right">
            <a class="facebook" target="_blank" href="https://web.facebook.com/GrayGrids"><i class="fa fa-facebook"></i></a>
            <a class="twitter" target="_blank" href="https://twitter.com/GrayGrids"><i class="fa fa-twitter"></i></a>
            <a class="dribble" target="_blank" href="https://dribbble.com/"><i class="fa fa-dribbble"></i></a>
            <a class="flickr" target="_blank" href="https://www.flickr.com/"><i class="fa fa-flickr"></i></a>
            <a class="youtube" target="_blank" href="https://youtube.com/"><i class="fa fa-youtube"></i></a>
            <a class="google-plus" target="_blank" href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a>
            <a class="linkedin" target="_blank" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>


<a href="#" class="back-to-top">
  <i class="fa fa-angle-up"></i>
</a>

<%= javascript_include_tag 'frontend', 'data-turbolinks-track': 'reload' %>
</body>

</html>